In [24]:
import pandas as pd

In [54]:

#Main path 
base_path = "/Users/mac/Downloads/"

# read dirty files
payments = pd.read_csv(base_path + "payments.csv")
customers = pd.read_csv(base_path + "customers.csv")
subscriptions = pd.read_csv(base_path + "subscriptions.csv")
complaints = pd.read_csv(base_path + "complaints.csv")
call_logs = pd.read_csv(base_path + "call_logs.csv")

In [38]:
# Relations
# payments / customers (customer_id)
# payments / subscriptions (subscription_id)
# subscriptions / customers (customer_id)
# complaints / customers (customer_id)
# call_logs / customers (customer_id)
# first we have to clean data

In [35]:
payments.isnull().sum()

payment_id        0
customer_id       0
payment_date      0
amount            0
payment_method    0
dtype: int64

In [55]:
call_logs.isnull().sum()

call_id                      0
customer_id                  0
receiver_id                  0
call_start_time              0
call_duration_seconds    50160
call_type                    0
dropped_call             33396
cell_tower_id                0
dtype: int64

In [41]:
customers.isnull().sum()

customer_id        0
full_name          0
gender             0
date_of_birth      0
signup_date        0
city               0
national_id        0
email            243
dtype: int64

In [44]:
subscriptions.isnull().sum()

subscription_id    0
customer_id        0
plan_type          0
start_date         0
end_date           0
monthly_cost       0
dtype: int64

In [45]:
complaints.isnull().sum()

complaint_id        0
customer_id         0
complaint_type      0
description       275
complaint_date      0
resolved            0
dtype: int64

In [47]:
# Now we’ll clean the call_logs table.
# The column 'call_duration_seconds' has 50160 missing values, so we’ll fill them with 0.
# Then, for the 'dropped_call' column (which has 33396 missing values):
# if the call duration is more than 0, we’ll assume the call was not dropped and fill it with "No".
# But if the duration is 0, we’ll fill it with "Unknown" because we can’t really tell.

In [57]:
call_logs.loc[call_logs["call_duration_seconds"].isnull() , "call_duration_seconds"] = 0
call_logs.loc[(call_logs["call_duration_seconds"]>0)&(call_logs["dropped_call"].isnull()), "dropped_call"] = "No"
call_logs.loc[(call_logs["call_duration_seconds"] == 0 )&(call_logs["dropped_call"].isnull()) , "dropped_call"] = "Unknown"

In [58]:
call_logs.isnull().sum()

call_id                  0
customer_id              0
receiver_id              0
call_start_time          0
call_duration_seconds    0
call_type                0
dropped_call             0
cell_tower_id            0
dtype: int64

In [59]:
call_logs.head(10)

,call_id,customer_id,receiver_id,call_start_time,call_duration_seconds,call_type,dropped_call,cell_tower_id
0,1,2040,2005,18/06/2025 19:53:34,303.0,international,yes,71
1,2,3291,3317,18/06/2025 19:55:44,2732.0,roaming,yes,29
2,3,1158,2711,18/06/2025 19:55:16,0.0,Lcl,Unknown,10
3,4,1260,1740,18/06/2025 19:57:14,0.0,Lcl,Unknown,27
4,5,4350,225,18/06/2025 19:57:40,1535.0,Lcl,No,74
5,6,135,4975,18/06/2025 19:57:08,0.0,roaming,no,76
6,7,999,1048,18/06/2025 19:53:05,0.0,roaming,yes,50
7,8,84,1374,18/06/2025 19:57:50,1029.0,intl,yes,99
8,9,2693,1240,18/06/2025 19:54:47,432.0,international,no,19
9,10,2813,3654,18/06/2025 19:55:52,0.0,local,Unknown,83

In [60]:
payments.isnull().sum()

payment_id        0
customer_id       0
payment_date      0
amount            0
payment_method    0
dtype: int64

In [61]:
customers.isnull().sum()

customer_id        0
full_name          0
gender             0
date_of_birth      0
signup_date        0
city               0
national_id        0
email            243
dtype: int64

In [ ]:
#لقيت ان فيه ٢٤٣ قيمه مفقوده في الجدول و دا خلاني اوحد صيغه الايميلات المفقوده عشان كدا كدا هي مش اهم حاجه بالنسبه للتحليل

In [62]:
customers.head(5)

,customer_id,full_name,gender,date_of_birth,signup_date,city,national_id,email
0,1,Grant Young,male,1956/05/19,2023-11-09,North Jasonfort,28815977234603,kristina60@mitchell.com
1,2,Dale Williams,أنثى,1954/09/16,2023-05-19,Stacyview,80406854292957,tuckerblake@frye.com
2,3,Michael Young PhD,female,1937/09/25,2024-11-07,Krauseside,59724807277958,oray@conley-robinson.com
3,4,Jason Randolph,M,1958/05/30,2022-02-06,Haleport,72897545381703,williamssarah@black.com
4,5,Larry Trevino,M,2004/12/16,2024-01-11,South Cassandramouth,97262704628538,kevin47@gmail.com

In [66]:
customers["gender"].unique()

array(['male', 'أنثى', 'female', 'M', 'F', 'ذكر'], dtype=object)

In [71]:
#make formating in gender (Male / Female) only
customers["gender"]=customers["gender"].replace({
"male" : "Male" , 
    "M" : "Male" , 
    "ذكر" : "Male" , 
    "female" : "Female" , 
    "F" : "Female" , 
    "أنثى" : "Female"
})

In [72]:
customers["gender"].unique()

array(['Male', 'Female'], dtype=object)

In [80]:
cities = customers["city"].nunique() 
print(cities)

4283

In [81]:
customers.duplicated().sum()

0

In [82]:
call_logs.duplicated().sum()

0

In [83]:
payments.duplicated().sum()

0

In [84]:
customers.loc[customers["email"].isnull(),"email"]="null@email.com"  #put email"]="null@email.com in any NaN value of email

In [85]:
customers.isnull().sum()

customer_id      0
full_name        0
gender           0
date_of_birth    0
signup_date      0
city             0
national_id      0
email            0
dtype: int64

In [86]:
customers.head(10)

,customer_id,full_name,gender,date_of_birth,signup_date,city,national_id,email
0,1,Grant Young,Male,1956/05/19,2023-11-09,North Jasonfort,28815977234603,kristina60@mitchell.com
1,2,Dale Williams,Female,1954/09/16,2023-05-19,Stacyview,80406854292957,tuckerblake@frye.com
2,3,Michael Young PhD,Female,1937/09/25,2024-11-07,Krauseside,59724807277958,oray@conley-robinson.com
3,4,Jason Randolph,Male,1958/05/30,2022-02-06,Haleport,72897545381703,williamssarah@black.com
4,5,Larry Trevino,Male,2004/12/16,2024-01-11,South Cassandramouth,97262704628538,kevin47@gmail.com
5,6,Natasha Garner,Male,2002/06/20,2021-02-01,North Sabrinastad,96942973511095,ryancoleman@yahoo.com
6,7,Robin House,Female,1945/02/11,2024-07-11,West Miguelshire,44758156637730,melissa61@gmail.com
7,8,Jennifer Mccarthy,Male,1966/07/08,2020-12-27,Cannonborough,79562928444556,iparker@hotmail.com
8,9,Kenneth Peterson,Female,1989/09/13,2021-04-28,North Mark,17500963237061,powerslisa@yahoo.com
9,10,Austin Sanders,Male,1973/12/10,2020-08-14,Lake Jonathantown,34117153773332,laurabaker@hotmail.com

In [87]:
customers["date_of_birth"] = pd.to_datetime(customers["date_of_birth"]) #convert date_of_birth into date formationg

In [ ]:
customers["signup_date"] = pd.to_datetime(customers["signup_date"])#convert signup_date into date formationg

In [90]:
customers["city"] = customers["city"].str.strip().str.title()

In [91]:
call_logs.head(10)

,call_id,customer_id,receiver_id,call_start_time,call_duration_seconds,call_type,dropped_call,cell_tower_id
0,1,2040,2005,18/06/2025 19:53:34,303.0,international,yes,71
1,2,3291,3317,18/06/2025 19:55:44,2732.0,roaming,yes,29
2,3,1158,2711,18/06/2025 19:55:16,0.0,Lcl,Unknown,10
3,4,1260,1740,18/06/2025 19:57:14,0.0,Lcl,Unknown,27
4,5,4350,225,18/06/2025 19:57:40,1535.0,Lcl,No,74
5,6,135,4975,18/06/2025 19:57:08,0.0,roaming,no,76
6,7,999,1048,18/06/2025 19:53:05,0.0,roaming,yes,50
7,8,84,1374,18/06/2025 19:57:50,1029.0,intl,yes,99
8,9,2693,1240,18/06/2025 19:54:47,432.0,international,no,19
9,10,2813,3654,18/06/2025 19:55:52,0.0,local,Unknown,83

In [94]:
#convert call_start_time into date formating
call_logs['call_start_time'] = pd.to_datetime(call_logs['call_start_time'], format="%d/%m/%Y %H:%M:%S", errors='coerce')
#convert "no" to "No" & "yes" to "Yes"
call_logs["dropped_call"]=call_logs["dropped_call"].replace({
    "no" : "No" , 
    "yes" : "Yes"
})

In [95]:
call_logs["call_type"].unique()

array(['international', 'roaming', 'Lcl', 'intl', 'local', 'Locall'],
      dtype=object)

In [96]:
# make call_type (International / Local / Roaming) 
call_logs["call_type"] = call_logs["call_type"].replace({
        "international" : "International" , 
    "roaming" : "Roaming" , 
    "Lcl" : "Local" , 
    "intl" : "International"  , 
    "local" : "Local" , 
    "Locall" : "Local" 
    
})

In [97]:
call_logs["call_type"].unique()

array(['International', 'Roaming', 'Local'], dtype=object)

In [98]:
subscriptions.head(10)

,subscription_id,customer_id,plan_type,start_date,end_date,monthly_cost
0,1,4417,5G,2024-06-03,2025-04-22,297.12
1,2,292,Prepaid,2022-08-26,2023-04-20,290.03
2,3,1919,5G,2023-07-12,2024-01-26,202.03
3,4,773,Prepaid,2023-01-30,2024-01-26,293.18
4,5,3383,Postpaid,2023-07-11,2024-01-08,200.28
5,6,285,4G,2022-11-19,2023-04-14,52.65
6,7,3785,Prepaid,2022-10-09,2022-12-05,194.57
7,8,263,5G,2022-08-16,2022-12-27,60.93
8,9,4527,4G,2023-12-15,2024-12-10,54.72
9,10,4458,Prepaid,2023-01-01,2023-03-03,161.12

In [100]:
#convert both to date formating
subscriptions["start_date"] = pd.to_datetime(subscriptions["start_date"])
subscriptions["end_date"] = pd.to_datetime(subscriptions["end_date"])

In [101]:
subscriptions["plan_type"].unique()

array(['5G', 'Prepaid', 'Postpaid', '4G'], dtype=object)

In [102]:
payments.head(10)

   payment_id  customer_id payment_date  amount payment_method
0           1         4868   2024-11-25  849.20         mobile
1           2         2738   2025-01-24  747.72           bank
2           3         1177   2023-07-16  456.99           card
3           4         3738   2024-04-15  827.72           bank
4           5         1510   2023-07-15  310.13         mobile
5           6         3069   2024-05-25  261.96         mobile
6           7         3711   2023-09-01  269.33           bank
7           8          433   2024-04-30  194.53           bank
8           9         1357   2023-11-29  521.37         mobile
9          10         4613   2024-05-19   60.08           card

In [103]:
payments["payment_date"] = pd.to_datetime(payments["payment_date"]) #convert payment_date to date instead of an object
payments["payment_method"] = payments["payment_method"].str.strip().str.title() #improve formating

In [104]:
payments["payment_method"].unique()

array(['Mobile', 'Bank', 'Card', 'Cash'], dtype=object)

In [106]:
complaints.head(5)

,complaint_id,customer_id,complaint_type,description,complaint_date,resolved
0,1,991,billing,Future approach well hand similar.,2024-06-21,yes
1,2,4875,internet,Manager top idea cut order.,2024-07-22,unresolved
2,3,241,coverage,Later tough brother cell south produce real.,2025-04-24,no
3,4,4790,network,Toward whose far at.,2024-11-02,no
4,5,1371,network,How law month current return fall.,2024-10-13,resolved

In [107]:
complaints["complaint_date"] = pd.to_datetime(complaints["complaint_date"] , errors="coerce") #convert complaint_date to date time

In [108]:
complaints["resolved"].unique()

array(['yes', 'unresolved', 'no', 'resolved'], dtype=object)

In [109]:
#Standardize the 'resolved' column to 'Yes' and 'No' 
complaints["resolved"] = complaints["resolved"].replace({
    "yes": "Yes",
    "resolved": "Yes",
    "no": "No",
    "unresolved": "No"
})

In [110]:
#Clean and format complaint_type values (strip + title case) 
complaints["complaint_type"] = complaints["complaint_type"].str.strip().str.title()
#Fill missing values in the 'description' column 
complaints["description"] = complaints["description"].fillna("No Description")

In [112]:
!pip install duckdb

Collecting duckdb
  Downloading duckdb-1.3.1-cp312-cp312-macosx_12_0_x86_64.whl.metadata (7.0 kB)
Downloading duckdb-1.3.1-cp312-cp312-macosx_12_0_x86_64.whl (17.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 17.1/17.1 MB 1.4 MB/s eta 0:00:0000:0100:01
Installing collected packages: duckdb
Successfully installed duckdb-1.3.1

In [125]:
import duckdb

In [114]:
duckdb.register('customers', customers)
duckdb.register('payments', payments)
duckdb.register('subscriptions', subscriptions)
duckdb.register('complaints', complaints)
duckdb.register('call_logs', call_logs)

In [123]:
customers.columns

Index(['customer_id', 'full_name', 'gender', 'date_of_birth', 'signup_date',
       'city', 'national_id', 'email'],
      dtype='object')

In [132]:
 #Top 10 Cities by Number of Customers 
top_cities = duckdb.query("""
    select city, COUNT(customer_id) AS no_of_customers , dense_rank() OVER (order BY count(customer_id) DESC) AS rank
    from customers
    group BY city
    order BY no_of_customers DESC
    limit 10
""").to_df()

# save_result
top_cities.to_csv("/Users/mac/Documents/analysis/top_10_cities_by_customers.csv", index=False)

In [129]:
#Total payment per plan 
total_rev_per_plan = duckdb.query("""
select s.plan_type , sum(p.amount) as total_rev 
from subscriptions as s join payments as p 
ON s.customer_id = p.customer_id
group by s.plan_type 
order by total_rev desc
""").to_df() 
# save_result
total_rev_per_plan.to_csv("/Users/mac/Documents/analysis/total_revenue_per_plan.csv", index=False)

In [131]:
#Gender Count per Plan Type
gender_counts_per_plan = duckdb.query("""
select 
    s.plan_type,
    c.gender,
    count(*) AS gender_count
from subscriptions AS s
join customers AS c ON s.customer_id = c.customer_id
group BY s.plan_type, c.gender
order BY s.plan_type, gender_count DESC
""").to_df()
gender_counts_per_plan.to_csv("/Users/mac/Documents/analysis/gender_counts_per_plan.csv", index=False)

In [134]:
top_complaints = duckdb.query("""
SELECT 
    complaint_type,
    COUNT(*) AS num_complaints,
    DENSE_RANK() OVER (ORDER BY COUNT(*) DESC) AS rank
FROM complaints
GROUP BY complaint_type
ORDER BY num_complaints DESC
""").to_df()

top_complaints.to_csv("/Users/mac/Documents/analysis/Most_complaint_types.csv", index=False)

In [135]:
#Total Payments by Payment Method 
payments_by_method = duckdb.query("""
SELECT 
    payment_method,
    ROUND(SUM(amount), 2) AS total_revenue
FROM payments
GROUP BY payment_method
ORDER BY total_revenue DESC
""").to_df()

payments_by_method.to_csv("/Users/mac/Documents/analysis/total_payments_by_method.csv", index=False)

In [137]:
#Top Paying Customers per Plan Type 
top_customers_per_plan = duckdb.query("""
WITH customer_totals AS (
    SELECT 
        s.plan_type,
        c.customer_id,
        SUM(p.amount) AS total_paid
    FROM subscriptions s
    JOIN payments p ON s.customer_id = p.customer_id
    JOIN customers c ON s.customer_id = c.customer_id
    GROUP BY s.plan_type, c.customer_id
),
ranked_customers AS (
    SELECT 
        plan_type,
        customer_id,
        total_paid,
        RANK() OVER (PARTITION BY plan_type ORDER BY total_paid DESC) AS rank_in_plan
    FROM customer_totals
)
SELECT *
FROM ranked_customers
WHERE rank_in_plan <= 3
ORDER BY plan_type, rank_in_plan
""").to_df()

top_customers_per_plan.to_csv("/Users/mac/Documents/analysis/top_3_customers_per_plan.csv", index=False)

In [138]:
#Number of Customers per Plan Type  
customers_per_plan = duckdb.query("""
SELECT 
    plan_type,
    COUNT(DISTINCT customer_id) AS num_customers
FROM subscriptions
GROUP BY plan_type
ORDER BY num_customers DESC
""").to_df()

customers_per_plan.to_csv("/Users/mac/Documents/analysis/customers_per_plan.csv", index=False)

In [139]:
#Average Monthly Payment per Plan Type 
avg_payment_per_plan = duckdb.query("""
SELECT 
    plan_type,
    ROUND(AVG(monthly_cost), 2) AS avg_monthly_payment
FROM subscriptions
GROUP BY plan_type
ORDER BY avg_monthly_payment DESC
""").to_df()

avg_payment_per_plan.to_csv("/Users/mac/Documents/analysis/avg_monthly_payment_per_plan.csv", index=False)